<script src="../checkCountry.js"></script>
<html>
    <script src="../../header.js"></script>
    <body>
        <div class="body">
            <script src="menu2.js"></script>
            <div class="body">
                <div role="main" class="main">
                    <section class="page-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>Promotions</h2>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-sm-12" style="padding-bottom: 20px; display: flex; justify-content: center;">
                        <a href="furnitureProductDetails.html?sku=F_BM_21">
                            <img src="../../img/promotions/F_BM_212014-11-24.jpg" class="img-responsive" style="width: 100%; height: auto; border-radius: 8px;">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12" style="padding-bottom: 20px; display: flex; justify-content: center;">
                        <a href="furnitureProductDetails.html?sku=F_SC_40">
                            <img src="../../img/promotions/F_SC_402014-12-06.jpg" class="img-responsive" style="width: 100%; height: auto; border-radius: 8px;">
                        </a>
                    </div>
                </div>
            </div>
            <script src="../footer.js"></script>
        </div>
    </body>
</html>
